h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: rgb(144, 144, 240);
}
body{
    background-color: #f4f4f4;
    color: lightgray;
}
p{
    font: bold 18px sans-serif;
}